[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = http://github.com/pangliang/oh-my-zsh.git
[submodule "oh-my-vim"]
	path = oh-my-vim
	url = http://github.com/pangliang/oh-my-vim.git
[submodule "oh-my-tmux"]
	path = oh-my-tmux
	url = http://github.com/pangliang/oh-my-tmux.git
